:root {
  color-scheme: dark;
}

h1,
h2 {
  background: linear-gradient(to right, #a51e1e, #3b59f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.708), rgba(244, 234, 255, 0.649));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  scroll-behavior: smooth;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  scrollbar-width: none;
  /* Firefox */
}

.ch1 {
  --charactersn: 1;
  --characters: 1ch;
}

.ch2 {
  --charactersn: 2;
  --characters: 2ch;
}

.ch3 {
  --charactersn: 3;
  --characters: 3ch;
}

.ch4 {
  --charactersn: 4;
  --characters: 4ch;
}

.ch5 {
  --charactersn: 5;
  --characters: 5ch;
}

.ch6 {
  --charactersn: 6;
  --characters: 6ch;
}

.ch7 {
  --charactersn: 7;
  --characters: 7ch;
}

.ch8 {
  --charactersn: 8;
  --characters: 8ch;
}

.ch9 {
  --charactersn: 9;
  --characters: 9ch;
}

.ch10 {
  --charactersn: 10;
  --characters: 10ch;
}

body {
  font-size: 2rem;
  display: flex;
  flex-flow: column;
  background-color: #000000;
}
body .icon {
  width: 2em;
  height: 2em;
}
body nav {
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgb(28, 28, 28);
  z-index: 1;
  font-size: 0.5em;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 20px 10px #000000;
}
body nav #button,
body nav label {
  align-self: center;
  display: none;
}
body nav h1 {
  align-self: center;
  justify-self: flex-start !important;
  font-size: 2em;
}
body nav input[type=checkbox] {
  display: none;
}
body nav #navlinks {
  display: flex;
  height: inherit;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  -webkit-text-fill-color: white;
}
body nav #navlinks a {
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  transition: 0.4s ease;
  justify-content: center;
}
body section {
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
}
body #head {
  position: relative;
  height: 100vh;
  grid-template-rows: 2fr 0.5fr 1fr 2fr 1fr;
}
body #head .emoji {
  line-height: 2;
  font-size: 1.5em;
}
body #head .cursor {
  animation: typing 1s steps(var(--charactersn)) 1 forwards, cursor-blink 1s linear 1s 1, typing2 1s steps(var(--charactersn)) 2s 1 forwards, cursor-blink2 1s linear 3s 1;
}
body #head #greet {
  width: var(--charactersn);
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.3em;
}
body #head h2 {
  font-size: 1.2em;
  opacity: 0;
  transform: translateY(10vw);
  animation: fade-in 1s 2s ease forwards;
}
body #head p {
  font-size: 0.4em;
  z-index: 0;
}
body #head img {
  animation: downarrow 1s ease-out 0s infinite alternate;
}
body #intro {
  line-height: 3;
  text-align: center;
  background-color: rgb(15, 15, 15);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
}
body #intro h1 {
  font-size: 0.6em;
}
body #intro p {
  font-size: 0.6em;
}
body #intro .emoji {
  font-size: 1.5em;
}
body #intro img {
  animation: downarrow 1s ease-out 0s infinite alternate;
}
body #tech {
  padding: 5rem 0rem 2rem 0rem;
  gap: 3rem;
  background-color: #0a0a0a;
}
body #tech h1 {
  font-size: 1em;
}
body #tech h2 {
  font-size: 0.7em;
}
body #tech .tech-card {
  display: inherit;
  flex-flow: inherit;
  gap: inherit;
  padding: 2rem 0rem 2rem 0rem;
  max-width: 30em;
  width: 90vw;
  background-color: #000000;
  box-shadow: 0px 0px 10px 0px #000;
  animation: strobe 5s ease 0s infinite alternate;
}
body #tech .tech-card .tech-cont {
  align-self: center;
  justify-self: center;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.048);
  align-items: center;
  flex-flow: column;
  display: flex;
}
body #tech .tech-card .tech-cont p {
  font-size: 0.5em;
}
body #tech .tech-card .tech-cont p:first-child {
  font-size: 0.8em;
}
body #tech .tech-card .tech-cont p:first-child:after {
  align-self: flex-end;
}
body #tech .tech-card .tech-cont .progress {
  margin-top: 0.3em;
  grid-column: span 2;
  width: 100%;
  height: 1rem;
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  width: 100%;
}
body #tech .tech-card .tech-cont .progress-bar {
  width: var(--its-width);
  height: 100%;
  display: flex;
  background: linear-gradient(90deg, #ff3d6d, #ea4aaa 17%, #e14bff 34%, #ff01aa 51%, #ff3d8e 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  animation: gradientstrobe linear 4s infinite forwards;
  transition: 1s;
}
body #creations {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 3%;
  gap: 2em;
  align-items: center;
  justify-items: center;
  background-color: rgb(0, 0, 0);
}
body #creations img {
  width: 1em;
  height: 1em;
}
body #creations h2 {
  background: linear-gradient(to right, #ff01aa, #3b59f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.7em;
}
body #creations p {
  align-self: center;
  max-width: 80%;
  font-size: 0.56em;
}
body #creations h4 {
  font-size: 0.5em;
}
body #creations .emoji {
  font-size: 3em;
}
body #creations .project-card {
  background-color: #0f0f0f;
  padding: 0.5em 0em 0.5em 0em;
  max-width: 30em;
  width: 95%;
  display: flex;
  flex-flow: column;
  gap: 1em;
  border: 1px solid black;
  box-shadow: 0px 0px 6px 1px black;
}
body #creations .project-card .emojicont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body #creations .project-card .emojicont .emo1 {
  transform: rotate(20deg);
}
body #creations .project-card .emojicont .emo2 {
  transform: rotate(-20deg);
}
body #contact-me {
  background-color: black;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 4em;
}
body #contact-me form {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 90vw;
  max-width: 20em;
}
body #contact-me input,
body #contact-me textarea {
  height: 2em;
  text-align: start;
  margin-bottom: 2em;
  padding: 0.3em;
  border: 2px solid #823eaa;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
body #contact-me input:focus,
body #contact-me textarea:focus {
  border: none;
  border: 2px solid #0084ff;
}
body #contact-me textarea {
  height: 6em;
}
body #contact-me label {
  font-size: 0.7em;
  align-self: flex-start;
}
body #contact-me button {
  margin-top: 0.2em;
  align-self: flex-end;
  font-size: 0.8em;
  color: white;
  background-color: #000000;
  border-radius: 2rem;
  transition: 0.2s linear;
  padding: 0.1em 0.6em;
  border: none;
  border: 2px solid #8401ff;
}
body #contact-me button:hover {
  background-color: #8401ff;
}
body footer {
  display: grid;
  align-items: center;
  flex-flow: column;
  background-color: #0f0f0f;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0em;
  font-size: 0.5em;
  justify-items: center;
  align-items: center;
  text-align: center;
}
body footer p {
  grid-column: 1/-1;
}
body footer .links {
  width: max-content;
  text-align: left;
  margin-bottom: 3em;
  align-self: start;
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}
body footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}

@media (max-width: 600px) {
  nav {
    position: relative;
    overflow: hidden;
  }
  nav #button {
    position: relative;
    display: initial !important;
    justify-self: end;
    justify-content: space-evenly;
    width: 2em;
    height: 3em;
  }
  nav #button .stick {
    height: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #ff01aa, #0084ff);
    width: 100%;
    transition: 1s ease;
    position: absolute;
  }
  nav #button #stick1 {
    top: 33%;
  }
  nav #button #stick2 {
    bottom: calc(50% - 2px);
  }
  nav #button #stick3 {
    top: 66%;
  }
  nav #navlinks {
    transition: 1s ease;
    overflow: hidden;
    display: inline;
    flex-flow: column;
    grid-column: span 2;
    height: 0px !important;
  }
  nav input[type=checkbox] {
    display: inline-block !important;
    position: absolute;
    align-self: flex-start;
    margin-top: 1rem;
    z-index: 10;
    height: 2rem;
    opacity: 0;
    justify-self: end;
    width: 4rem;
  }
  nav input[type=checkbox]:hover {
    cursor: pointer;
  }
  nav input[type=checkbox]:checked ~ #navlinks {
    height: 13em !important;
  }
  nav input[type=checkbox]:checked ~ #button .stick {
    height: 3px;
  }
  nav input[type=checkbox]:checked ~ #button #stick1 {
    transform: rotate(45deg);
    top: 50%;
    bottom: 50%;
  }
  nav input[type=checkbox]:checked ~ #button #stick2 {
    opacity: 0;
  }
  nav input[type=checkbox]:checked ~ #button #stick3 {
    top: 50%;
    bottom: 50%;
    transform: rotate(-45deg);
  }
  .emo1 {
    display: none;
  }
  .emo2 {
    transform: rotate(0deg) !important;
  }
}
@keyframes typing {
  from {
    width: 0px;
    border-right: 1px solid white;
  }
  to {
    width: var(--characters);
    border-right: 1px solid white;
  }
}
@keyframes typing2 {
  from {
    border-right: 1px solid white;
    width: var(--characters);
  }
  to {
    border-right: 1px solid white;
    width: 0px;
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downarrow {
  to {
    transform: translateY(20%);
  }
}
@keyframes cursor-blink {
  from {
    border-right: 0;
  }
  to {
    border-right: 1px solid white;
  }
}
@keyframes cursor-blink2 {
  from {
    border-right: 0;
  }
  to {
    border-right: 1px solid white;
  }
}
@keyframes gradientstrobe {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
